### Ingest data from US Census

In [3]:
dataset_id = "us_census_staging"

In [4]:
!bq --location=US mk --dataset {dataset_id}

Dataset 'earnest-keep-266820:us_census_staging' successfully created.

### Create Tables

In [5]:
!bq --location=US load --autodetect --skip_leading_rows=1 \
--source_format=CSV {dataset_id}.Race \
'gs://cs327e_census_data/RaceAppend.csv'

Waiting on bqjob_r595f9d248c1bffc_000001701138af07_1 ... (10s) Current status: DONE

In [7]:
!bq --location=US load --autodetect --skip_leading_rows=1 \
--source_format=CSV {dataset_id}.Language \
'gs://cs327e_census_data/LanguageAppended.csv'

Waiting on bqjob_r9ad9c2b7e72118c_000001701139cab9_1 ... (23s) Current status: DONE

In [8]:
!bq --location=US load --autodetect --skip_leading_rows=1 \
--source_format=CSV {dataset_id}.Education \
'gs://cs327e_census_data/EducationAppended.csv'

Waiting on bqjob_r625b0863aa98a69f_00000170113a8201_1 ... (15s) Current status: DONE

In [9]:
!bq --location=US load --autodetect --skip_leading_rows=1 \
--source_format=CSV {dataset_id}.Earnings \
'gs://cs327e_census_data/EarningsAppended.csv'

Waiting on bqjob_r7e5bb434f50e5fa5_00000170113b01e1_1 ... (23s) Current status: DONE

In [10]:
!bq --location=US load --autodetect --skip_leading_rows=1 \
--source_format=CSV {dataset_id}.AgeSex \
'gs://cs327e_census_data/AgeSexAppended.csv'

Waiting on bqjob_r7a6ac25ca75d8c8f_00000170113b6579_1 ... (23s) Current status: DONE

### Checking that tables are correct by querying tables

In [12]:
%%bigquery
select * from us_census_staging.Education limit 5

,SummaryLevel,State,StateFIPS,CountyFIPS,PlaceFIPS,CBSACode,CongressDistrict,GEOID,AreaName,B15001_001,...,C15010H_003,C15010H_004,C15010H_005,C15010H_006,C15010I_001,C15010I_002,C15010I_003,C15010I_004,C15010I_005,C15010I_006
0,40,AL,1,None,None,None,None,04000US01,Alabama,3718646,...,60767,139045,106712,115298,13390,4922,1298,3461,1142,2567
1,40,AL,1,None,None,None,None,04001US01,Alabama -- Urban,2196425,...,40762,96679,65601,84241,10578,3858,1047,2718,865,2090
2,40,AL,1,None,None,None,None,04043US01,Alabama -- Rural,1522221,...,20005,42366,41111,31057,2812,1064,251,743,277,477
3,40,AL,1,None,None,None,None,040A0US01,Alabama -- In metropolitan or micropolitan sta...,3231598,...,55983,129962,93578,108088,12688,4806,1186,3194,1022,2480
4,40,AL,1,None,None,None,None,040C0US01,Alabama -- In metropolitan statistical area,2822900,...,50906,119741,81904,99246,11786,4601,1090,3038,794,2263

In [13]:
%%bigquery
select * from us_census_staging.Race limit 5

,SummaryLevel,State,StateFIPS,CountyFIPS,PlaceFIPS,CBSACode,CongressDistrict,GEOID,AreaName,B02001_001,...,C02003_010,C02003_011,C02003_012,C02003_013,C02003_014,C02003_015,C02003_016,C02003_017,C02003_018,C02003_019
0,40,AL,1,None,None,None,None,04000US01,Alabama,4830620,...,7032,74614,76866,25175,27134,10465,3705,10387,4471,309
1,40,AL,1,None,None,None,None,04001US01,Alabama -- Urban,2867593,...,4627,46067,47325,16616,12964,8089,2425,7231,3138,231
2,40,AL,1,None,None,None,None,04043US01,Alabama -- Rural,1963027,...,2405,28547,29541,8559,14170,2376,1280,3156,1333,78
3,40,AL,1,None,None,None,None,040A0US01,Alabama -- In metropolitan or micropolitan sta...,4202122,...,6192,67269,69247,22989,23601,10149,3213,9295,3912,302
4,40,AL,1,None,None,None,None,040C0US01,Alabama -- In metropolitan statistical area,3671377,...,5485,57563,59177,19601,19594,9059,2769,8154,3575,296

In [14]:
%%bigquery
select * from us_census_staging.Language limit 5

,SummaryLevel,State,StateFIPS,CountyFIPS,PlaceFIPS,CBSACode,CongressDistrict,GEOID,AreaName,B16001_001,...,B16010_044,B16010_045,B16010_046,B16010_047,B16010_048,B16010_049,B16010_050,B16010_051,B16010_052,B16010_053
0,50,AL,1,7,None,None,None,05000US01007,"Bibb County, Alabama",21471,...,47,48,0,0,444,391,49,4,0,0
1,50,AL,1,27,None,None,None,05000US01027,"Clay County, Alabama",12856,...,0,0,0,0,397,388,9,0,0,0
2,50,AL,1,37,None,None,None,05000US01037,"Coosa County, Alabama",10493,...,16,0,0,0,283,283,0,0,0,0
3,50,AL,1,67,None,None,None,05000US01067,"Henry County, Alabama",16316,...,30,0,0,0,511,482,0,29,0,0
4,50,AL,1,75,None,None,None,05000US01075,"Lamar County, Alabama",13404,...,0,0,0,0,378,377,1,0,0,0

In [15]:
%%bigquery
select * from us_census_staging.Earnings limit 5

,SummaryLevel,State,StateFIPS,CountyFIPS,PlaceFIPS,CBSACode,CongressDistrict,GEOID,AreaName,B20001_001,...,B20017H_005,B20017H_006,B20017H_007,B20017I_001,B20017I_002,B20017I_003,B20017I_004,B20017I_005,B20017I_006,B20017I_007
0,160,AL,1,None,23032,None,None,16000US0123032,"Edgewater CDP, Alabama",319,...,20649,.,.,.,.,.,.,.,.,.
1,160,AL,1,None,83976,None,None,16000US0183976,"Yellow Bluff town, Alabama",43,...,.,.,.,.,.,.,.,.,.,.
2,160,MS,28,None,48030,None,None,16000US2848030,"Mississippi State CDP, Mississippi",2752,...,2582,.,2499,4792,5909,.,5909,2499,.,2499
3,160,MS,28,None,75520,None,None,16000US2875520,"University CDP, Mississippi",3514,...,2499,6875,2499,2499,.,.,.,2499,.,2499
4,160,NC,37,None,31490,None,None,16000US3731490,"Hightsville CDP, North Carolina",585,...,None,None,None,None,None,None,None,None,None,None

In [16]:
%%bigquery
select * from us_census_staging.AgeSex limit 5

,SummaryLevel,State,StateFIPS,CountyFIPS,PlaceFIPS,CBSACode,CongressDistrict,GEOID,AreaName,B01001_001,...,B01002G_001,B01002G_002,B01002G_003,B01002H_001,B01002H_002,B01002H_003,B01002I_001,B01002I_002,B01002I_003,B01003_001
0,40,AL,1,None,None,None,None,04000US01,Alabama,4830620,...,19.4,19.2,19.5,42.3,41.0,43.5,25.3,26.0,24.2,4830620
1,40,AL,1,None,None,None,None,04001US01,Alabama -- Urban,2867593,...,18.5,18.6,18.5,41.1,39.4,42.7,25.8,26.7,24.3,2867593
2,40,AL,1,None,None,None,None,04043US01,Alabama -- Rural,1963027,...,22.1,21.4,23.5,43.3,42.5,44.2,23.8,23.9,23.8,1963027
3,40,AL,1,None,None,None,None,040A0US01,Alabama -- In metropolitan or micropolitan sta...,4202122,...,19.3,19.2,19.4,41.9,40.6,43.1,25.5,26.2,24.4,4202122
4,40,AL,1,None,None,None,None,040C0US01,Alabama -- In metropolitan statistical area,3671377,...,19.4,19.1,19.6,41.7,40.4,42.9,25.7,26.4,24.6,3671377

### Comments on Interesting Queries in Tables

Language:

This query shows the difference between column 005 (Native speakers of Spanish older than 5 with low proficiency in English) and column 004 (Native speakers of Spanish older than 5 who speak English very well). A large difference in proficiency in English within a community may indicate that there are more recent immigrants to that community than there are established bilingual households.

In [33]:
%%bigquery
select State, GEOID, AreaName, B16001_005, B16001_004 from us_census_staging.Language
where (B16001_005 - B16001_004) > 5000 order by (B16001_005 - B16001_004) asc

,State,GEOID,AreaName,B16001_005,B16001_004
0,AR,16000US0566080,"Springdale city, Arkansas",12633,7620
1,GA,16000US1315172,"Chamblee city, Georgia",7188,2139
2,GA,05000US13089,"DeKalb County, Georgia",30553,24912
3,TX,16000US4801696,"Aldine CDP, Texas",8508,2438
4,NC,50000US3707,"Congressional District 7 (114th Congress), Nor...",33207,25848
5,TX,16000US4830464,"Grand Prairie city, Texas",33668,25966
6,FL,50000US1227,"Congressional District 27 (114th Congress), Fl...",256736,247100
7,NC,50000US3712,"Congressional District 12 (114th Congress), No...",50483,40291
8,TX,50000US4830,"Congressional District 30 (114th Congress), Texas",116699,104814
9,TX,05000US48113,"Dallas County, Texas",401796,387152
10,TX,50000US4818,"Congressional District 18 (114th Congress), Texas",129307,106245
11,TX,16000US4835000,"Houston city, Texas",400767,373996
12,TX,16000US4819000,"Dallas city, Texas",238719,201852
13,FL,16000US1245000,"Miami city, Florida",157455,120070
14,TX,50000US4829,"Congressional District 29 (114th Congress), Texas",235967,196834
15,TX,50000US4833,"Congressional District 33 (114th Congress), Texas",217177,172378
16,FL,16000US1230000,"Hialeah city, Florida",129893,75650

Race:

This query shows several columns (001- total population, 002- white population, 003-African American population, 005-Asian population). The query is looking for rows where the white population is smaller than both the Asian and African American populations. I thought this might be a good measure of how diverse an area is, however this query only returned areas where the overall population (001) is very small to start with, however, it will be interesting to compare race data to other tables like earnings to get a more complete picture of diversity within the country.

In [33]:
%%bigquery
select State, GEOID, AreaName, B02001_001, B02001_002, B02001_003, 
B02001_005 from us_census_staging.Race where B02001_002 < B02001_003 and B02001_002 < B02001_005
order by B02001_001

,State,GEOID,AreaName,B02001_001,B02001_002,B02001_003,B02001_005
0,AL,16000US0128768,"Gainesville town, Alabama",171,21,98,52
1,MS,16000US2854920,"Pace town, Mississippi",174,12,144,16
2,MS,16000US2824500,"Fayette city, Mississippi",1563,0,1554,9
3,GA,16000US1353004,"Morrow city, Georgia",6982,1831,2601,2071
4,GA,16000US1316544,"Clarkston city, Georgia",11990,1522,7081,2864
5,TX,16000US4827102,"Four Corners CDP, Texas",13626,2756,3204,4670
6,GA,16000US1365464,"Riverdale city, Georgia",15650,1237,12279,1329

Education:

B15002_001 - SEX BY EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER for Population 25 Years And Over

B15002_015 - SEX BY EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER for Population 25 Years And Over% Male:% Bachelor's degree

B15002_032 - SEX BY EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER for Population 25 Years And Over% Female:% Bachelor's degree

This query looks for places where more women than men have bachelors degrees compared to the total population. The areas are limited to places where there are more than 2000 people in the area because after an initial exploration it is clear that in some areas there are 0 people with bachelors degrees.

In [43]:
%%bigquery
select State, GEOID, AreaName, B15002_001, B15002_015, B15002_032
from us_census_staging.Education
where B15002_032 > B15002_015 and B15002_001 > 2000
order by B15002_001

,State,GEOID,AreaName,B15002_001,B15002_015,B15002_032
0,FL,16000US1230750,"Hilliard town, Florida",2005,66,86
1,SC,16000US4577965,"Williston town, South Carolina",2006,56,137
2,AR,16000US0528360,"Gravette city, Arkansas",2007,125,145
3,KY,16000US2123824,"Eddyville city, Kentucky",2008,32,40
4,AL,16000US0109400,"Brighton city, Alabama",2008,23,56
...,...,...,...,...,...,...
3695,FL,04000US12,Florida,13824205,1167778,1250777
3696,TX,04001US48,Texas -- Urban,14038183,1283164,1395973
3697,TX,040C0US48,Texas -- In metropolitan statistical area,14768595,1358263,1474837
3698,TX,040A0US48,Texas -- In metropolitan or micropolitan stati...,15805913,1412707,1538830
3699,TX,04000US48,Texas,16765143,1461033,1593349

Age & Sex:

B01002A_001 - median age of while only population
B01002B_001 - median age of black only population
B01002G_001 - median age of two or more races population

This query is meant to identify counties in which the average age of mixed
raced citizens exceeds the average of other citizens of only white or black
races. This would indicate that the county is well mixed racially as racial
mixing would have had to occur earlier in the past rather than the present
day. This would make these areas targets for studying the acceptance of
racial difference within the local cultures. The age of mixed race
individuals is compared to those of whites and blacks because the latter
two groups have historically been the most numerous populations of the
southern united states.

In [10]:
%%bigquery
select State, GEOID, AreaName, B01002A_001, B01002B_001, B01002G_001 from
us_census_staging.AgeSex
where B01002G_001 > B01002A_001
or B01002G_001 > B01002B_001
order by B01002_001 desc

,State,GEOID,AreaName,B01002A_001,B01002B_001,B01002G_001
0,FL,16000US1232993,"Hutchinson Island South CDP, Florida",72,.,36.8
1,FL,16000US1275175,"Warm Mineral Springs CDP, Florida",71.8,.,28.0
2,FL,16000US1241150,"Longboat Key town, Florida",71.1,.,5.2
3,FL,16000US1257450,"Plantation CDP, Florida",70.5,.,8.9
4,FL,16000US1279243,"Zephyrhills West CDP, Florida",70.1,.,48.2
...,...,...,...,...,...,...
2597,GA,16000US1352556,"Moody AFB CDP, Georgia",20.5,4.8,3.5
2598,WV,16000US5406844,"Bethany town, West Virginia",19.8,19.8,24.5
2599,MS,16000US2875520,"University CDP, Mississippi",19.4,19.2,20.0
2600,OK,16000US4003815,"Badger Lee CDP, Oklahoma",29.3,.,3.7
2601,TX,16000US4859798,"Pueblo Nuevo CDP, Texas",16.9,.,16.7

Earnings:
B20001_001 - SEX BY EARNINGS IN THE PAST 12 MONTHS (IN 2015 INFLATION-ADJUSTED DOLLARS) FOR THE POPULATION 16 YEARS AND OVER WITH EARNINGS IN THE PAST 12 MONTHS for Population 16 Years And Over With Earnings

B20001_002 - SEX BY EARNINGS IN THE PAST 12 MONTHS (IN 2015 INFLATION-ADJUSTED DOLLARS) FOR THE POPULATION 16 YEARS AND OVER WITH EARNINGS IN THE PAST 12 MONTHS for Population 16 Years And Over With Earnings% Male:

B20001_023 - SEX BY EARNINGS IN THE PAST 12 MONTHS (IN 2015 INFLATION-ADJUSTED DOLLARS) FOR THE POPULATION 16 YEARS AND OVER WITH EARNINGS IN THE PAST 12 MONTHS for Population 16 Years And Over With Earnings% Female:

This query searches the data for areas where

women made more money than men. It is surprising to me that so many areas met this characteristic. This table could be further combined with race data or age and sex data to further determine which groups make more money.

In [12]:
%%bigquery
select State, GEOID, AreaName, B20001_001, B20001_002, B20001_023 from us_census_staging.Earnings
where B20001_023 > B20001_002
order by B20001_001 desc

,State,GEOID,AreaName,B20001_001,B20001_002,B20001_023
0,TN,32000US4732820,"Memphis, TN-MS-AR Metro Area (part); Tennessee",526084,262343,263741
1,TN,05000US47157,"Shelby County, Tennessee",476269,235862,240407
2,VA,50000US5103,"Congressional District 3 (114th Congress), Vir...",392382,195274,197108
3,GA,05000US13089,"DeKalb County, Georgia",384793,190871,193922
4,LA,50000US2202,"Congressional District 2 (114th Congress), Lou...",376432,186394,190038
...,...,...,...,...,...,...
3042,AL,16000US0145640,"McMullen town, Alabama",2,0,2
3043,FL,16000US1237625,"Lake Buena Vista city, Florida",2,0,2
3044,AL,16000US0155848,"Oak Hill town, Alabama",1,0,1
3045,FL,16000US1275625,"Weeki Wachee city, Florida",1,0,1
3046,OK,16000US4002000,"Amorita town, Oklahoma",1,0,1