### Joins on US Census Data

This query attemps to determine areas in the Southern United States where there is greater educational attainment by families whose dominant language is not English. From the query, it appears that this is relatively rare, and tends to happen in places where the overall population is small.

__edu.B15003_002__ - EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER for Population 25 Years And Over% No schooling completed  
__edu.B15003_016__ - EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER for Population 25 Years And Over% 12th grade, no diploma  
__edu.B15003_017__ - EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER for Population 25 Years And Over% Regular high school diploma  
__edu.B15003_018__ - EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER for Population 25 Years And Over% GED or alternative credential  
__edu.B15003_021__ - EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER for Population 25 Years And Over% Associate's degree  
__edu.B15003_022__ - EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER for Population 25 Years And Over% Bachelor's degree  
__edu.B15003_023__ - EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER for Population 25 Years And Over% Master's degree  
__edu.B15003_024__ - EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER for Population 25 Years And Over% Professional school degree  

__lang.B16002_004__ - HOUSEHOLD LANGUAGE BY HOUSEHOLD LIMITED ENGLISH SPEAKING STATUS for Households% Spanish:% Limited English speaking household  
__lang.B16002_007__ - HOUSEHOLD LANGUAGE BY HOUSEHOLD LIMITED ENGLISH SPEAKING STATUS for Households% Other Indo-European languages:% Limited English                     speaking household  
__lang.B16002_010__ - HOUSEHOLD LANGUAGE BY HOUSEHOLD LIMITED ENGLISH SPEAKING STATUS for Households% Asian and Pacific Island languages:% Limited                       English speaking household  
__lang.B16002_013__ - HOUSEHOLD LANGUAGE BY HOUSEHOLD LIMITED ENGLISH SPEAKING STATUS for Households% Other languages:% Limited English speaking                         household  
__lang.B16002_002__ - HOUSEHOLD LANGUAGE BY HOUSEHOLD LIMITED ENGLISH SPEAKING STATUS for Households% English only  
__lang.B16002_005__ - HOUSEHOLD LANGUAGE BY HOUSEHOLD LIMITED ENGLISH SPEAKING STATUS for Households% Spanish:% Not a limited English speaking                           household  
__lang.B16002_008__ - HOUSEHOLD LANGUAGE BY HOUSEHOLD LIMITED ENGLISH SPEAKING STATUS for Households% Other Indo-European languages:% Not a limited                     English speaking household  
__lang.B16002_011__ - HOUSEHOLD LANGUAGE BY HOUSEHOLD LIMITED ENGLISH SPEAKING STATUS for Households% Asian and Pacific Island languages:% Not a                         limited English speaking household  
__lang.B16002_014__ - HOUSEHOLD LANGUAGE BY HOUSEHOLD LIMITED ENGLISH SPEAKING STATUS for Households% Other languages:% Not a limited English speaking                   household

In [15]:
%%bigquery
select edu.GEOID, edu.areaname, edu.B15003_002, edu.B15003_016, edu.B15003_017, edu.B15003_018,
    edu.B15003_021, edu.B15003_022, edu.B15003_023, edu.B15003_024
from us_census_staging.Education as edu
join us_census_staging.Language as lang
on edu.GEOID = lang.GEOID
where (lang.B16002_004 + lang.B16002_007 + lang.B16002_010 + lang.B16002_013) > 
    (lang.B16002_002 + lang.B16002_005 + lang.B16002_008 + lang.B16002_011 + lang.B16002_014)
order by edu.B15003_022 desc limit 12

,GEOID,areaname,B15003_002,B15003_016,B15003_017,B15003_018,B15003_021,B15003_022,B15003_023,B15003_024
0,16000US4865360,"San Elizario city, Texas",270,50,837,338,92,285,24,3
1,16000US4878016,"Westway CDP, Texas",104,46,265,166,75,70,17,0
2,16000US4875668,"Vinton village, Texas",37,14,130,52,39,34,15,2
3,16000US4841458,"La Puerta CDP, Texas",4,0,15,0,12,28,0,0
4,16000US4849411,"Morning Glory CDP, Texas",0,0,46,63,0,20,0,0
5,16000US4841503,"La Rosita CDP, Texas",9,0,42,0,0,13,0,0
6,16000US4841449,"La Presa CDP, Texas",0,16,37,0,0,8,0,0
7,16000US4850924,"New Falcon CDP, Texas",0,0,60,0,0,7,0,0
8,16000US4844110,"Los Ebanos CDP (Starr County), Texas",17,0,27,0,18,5,0,0
9,16000US4811102,"Buena Vista CDP, Texas",0,0,0,0,0,0,0,0
10,16000US4814266,"Chaparrito CDP, Texas",24,0,0,0,0,0,0,0
11,16000US4816110,"Colorado Acres CDP, Texas",0,0,21,0,0,0,0,0

This query attempts to determine if the areas with the highest income levels are also the areas with the higest levels of educational attainment. We chose 65,000 dollars per year and above as our cut off to be considered high income, and compared that to several levels of educational attainment. For the purposes of this query, we searched only for places where the number of people with at least one degree (associates or above) outnumbered the number of people with educational attainment less than that. It does seem to be the case that high income level correlates with high educational attainment.

__B20001_020__ - SEX BY EARNINGS IN THE PAST 12 MONTHS (IN 2015 INFLATION-ADJUSTED DOLLARS) FOR THE POPULATION 16 YEARS AND OVER WITH EARNINGS IN THE PAST 12 MONTHS for Population 16 Years And Over With Earnings% Male:% $65,000 to $74,999  
__B20001_021__ - SEX BY EARNINGS IN THE PAST 12 MONTHS (IN 2015 INFLATION-ADJUSTED DOLLARS) FOR THE POPULATION 16 YEARS AND OVER WITH EARNINGS IN THE PAST 12 MONTHS for Population 16 Years And Over With Earnings% Male:% $75,000 to $99,999  
__B20001_022__ - SEX BY EARNINGS IN THE PAST 12 MONTHS (IN 2015 INFLATION-ADJUSTED DOLLARS) FOR THE POPULATION 16 YEARS AND OVER WITH EARNINGS IN THE PAST 12 MONTHS for Population 16 Years And Over With Earnings% Male: 100,000 or more  
__B20001_041__ - SEX BY EARNINGS IN THE PAST 12 MONTHS (IN 2015 INFLATION-ADJUSTED DOLLARS) FOR THE POPULATION 16 YEARS AND OVER WITH EARNINGS IN THE PAST 12 MONTHS for Population 16 Years And Over With Earnings% Female:% $65,000 to $74,999  
__B20001_042__ - SEX BY EARNINGS IN THE PAST 12 MONTHS (IN 2015 INFLATION-ADJUSTED DOLLARS) FOR THE POPULATION 16 YEARS AND OVER WITH EARNINGS IN THE PAST 12 MONTHS for Population 16 Years And Over With Earnings% Female:% $75,000 to $99,999  
__B20001_043__ - SEX BY EARNINGS IN THE PAST 12 MONTHS (IN 2015 INFLATION-ADJUSTED DOLLARS) FOR THE POPULATION 16 YEARS AND OVER WITH EARNINGS IN THE PAST 12 MONTHS for Population 16 Years And Over With Earnings% Female:% $100,000 or more  

__B15003_002__ - EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER for Population 25 Years And Over% No schooling completed  
__B15003_016__ - EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER for Population 25 Years And Over% 12th grade, no diploma  
__B15003_017__ - EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER for Population 25 Years And Over% Regular high school diploma  
__B15003_018__ - EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER for Population 25 Years And Over% GED or alternative credential  
__B15003_019__ - EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER for Population 25 Years And Over% Some college, less than 1 year  
__B15003_020__ - EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER for Population 25 Years And Over% Some college, 1 or more years, no degree  
__B15003_021__ - EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER for Population 25 Years And Over% Associate's degree  
__B15003_022__ - EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER for Population 25 Years And Over% Bachelor's degree  
__B15003_023__ - EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER for Population 25 Years And Over% Master's degree  
__B15003_024__ - EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER for Population 25 Years And Over% Professional school degree  
__B15003_025__ - EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER for Population 25 Years And Over% Doctorate degree

In [17]:
%%bigquery
select ear.GEOID, ear.areaname, ear.B20001_020, ear.B20001_021, ear.B20001_022, 
ear.B20001_041, ear.B20001_042, ear.B20001_043
from us_census_staging.Earnings as ear
join us_census_staging.Education as edu
on ear.GEOID = edu.GEOID
where (edu.B15003_002 + edu.B15003_016 + edu.B15003_017 + edu.B15003_018 + edu.B15003_019 + edu.B15003_020) < (edu.B15003_021 + edu.B15003_022 + 
        edu.B15003_023 + edu.B15003_024 + edu.B15003_025)
order by ear.B20001_022 desc, ear.B20001_043 desc limit 12

,GEOID,areaname,B20001_020,B20001_021,B20001_022,B20001_041,B20001_042,B20001_043
0,040C0US51,Virginia -- In metropolitan statistical area,107386,203659,392907,81345,131970,153659
1,04001US51,Virginia -- Urban,92657,177252,348244,72313,118836,140070
2,040C2US51,Virginia -- In metropolitan statistical area -...,74781,148920,303728,57943,96822,111184
3,32000US5147900,"Washington-Arlington-Alexandria, DC-VA-MD-WV M...",46839,103414,267158,42919,81128,113933
4,05000US51059,"Fairfax County, Virginia",17737,39387,119610,17174,32861,52089
5,040C1US37,North Carolina -- In metropolitan statistical ...,33432,55266,95985,27684,34763,34183
6,040C1US51,Virginia -- In metropolitan statistical area -...,32605,54739,89179,23402,35148,42475
7,32000US4812420,"Austin-Round Rock, TX Metro Area; Texas",28195,50532,88610,19042,26947,26868
8,50000US5110,"Congressional District 10 (114th Congress), Vi...",10674,24498,85023,10279,20355,29649
9,50000US5108,"Congressional District 8 (114th Congress), Vir...",14415,30509,75042,13615,27384,42680
10,50000US5111,"Congressional District 11 (114th Congress), Vi...",12904,28474,70267,12535,22378,29555
11,05000US48085,"Collin County, Texas",14908,30781,67252,11654,19049,19168

This query uses an outer join to determine areas where speakers of languages other than English outnumber English-only speakers. It compares the English-only speakers to the total population.

__B16001_002__ - LANGUAGE SPOKEN AT HOME BY ABILITY TO SPEAK ENGLISH FOR THE POPULATION 5 YEARS AND OVER for Population 5 Years And Over% Speak only English  
__B01001_001__ - SEX BY AGE for Total Population

In [44]:
%%bigquery
select lang.GEOID, lang.areaname, lang.B16001_002, a.B01001_001 
from (us_census_staging.Language as lang left join us_census_staging.AgeSex as a on a.GEOID = lang.GEOID)
where lang.B16001_002 < (a.B01001_001/2)
order by a.B01001_001 desc limit 12

,GEOID,areaname,B16001_002,B01001_001
0,32000US1233100,"Miami-Fort Lauderdale-West Palm Beach, FL Metr...",2656805,5861000
1,05000US12086,"Miami-Dade County, Florida",676912,2639042
2,16000US4835000,"Houston city, Texas",1082042,2217706
3,32000US4821340,"El Paso, TX Metro Area; Texas",213426,834425
4,05000US48141,"El Paso County, Texas",212685,831095
5,05000US48215,"Hidalgo County, Texas",113356,819217
6,32000US4832580,"McAllen-Edinburg-Mission, TX Metro Area; Texas",113356,819217
7,50000US1209,"Congressional District 9 (114th Congress), Flo...",370008,764578
8,50000US4820,"Congressional District 20 (114th Congress), Texas",364252,749530
9,50000US4809,"Congressional District 9 (114th Congress), Texas",343985,741226
10,50000US4815,"Congressional District 15 (114th Congress), Texas",192180,740657
11,50000US1227,"Congressional District 27 (114th Congress), Fl...",166715,740432

We will show three queries in the following section that focus on the educational attainment of the Hispanic population in the southern United States. The first two queries are inner joins with the race data table. The first joins with the education table while the second uses the age and sex data table. The third join will be an outer join of the two tables generated by the previous two queries. Note that Hispanic is a cultural ethnicity and not a race. As a result, information about this group is difficult to derive from race data alone, hence our rational for joining other data tables with the general population data contained in the race table.

The first join is an inner join between the race and education data tables, using GEOID as the shared attribute. This query identifies areas where there is a white majority in the population. The achievement of bachelors degrees by the white population is compared to respective bachelors degrees achieved by the male and female Hispanic populations. The results are ordered by the disparity in bachelors degree achievement between the overall white population and all Hispanics specifically.

- GEOID - Geographical identification code of an area
- AreaName - English names of areas corresponding with GEOIDs
- B02001_001 - Total population of an area
- B02001_002 - Total white population in an area
- C15002A_001 - Population of white people holding bachelors degrees in an area
- C15002I_002 - Population of Hispanic men holding bachelors degrees in an area
- C15002I_007 - Population of Hispanic females holding bachelors degrees in an area

In [47]:
%%bigquery
select r.GEOID, r.AreaName, r.B02001_001,
    edu.C15002A_001, edu.C15002I_002, edu.C15002I_007
from us_census_staging.Race as r inner join us_census_staging.Education as edu
on r.GEOID = edu.GEOID
where r.B02001_002 > r.B02001_001 / 2
order by C15002A_001 - (edu.C15002I_002 + edu.C15002I_007) desc
limit 12

,GEOID,AreaName,B02001_001,C15002A_001,C15002I_002,C15002I_007
0,04000US12,Florida,19645772,10984459,1448084,1554595
1,040A0US12,Florida -- In metropolitan or micropolitan sta...,19298267,10787378,1438445,1550538
2,040C0US12,Florida -- In metropolitan statistical area,18941821,10578041,1412821,1531731
3,04000US48,Texas,26538614,12810352,2749976,2795745
4,04001US12,Florida -- Urban,17942468,9913079,1393211,1511778
5,040A0US48,Texas -- In metropolitan or micropolitan stati...,25132539,11979785,2635395,2699347
6,040C0US48,Texas -- In metropolitan statistical area,23510680,11091049,2464887,2538581
7,040C2US12,Florida -- In metropolitan statistical area --...,13737337,7871864,1062978,1165827
8,04001US48,Texas -- Urban,22547056,10382132,2474326,2553954
9,04000US37,North Carolina,9845333,4786679,228973,199652
10,040A0US37,North Carolina -- In metropolitan or micropoli...,9206208,4467525,214562,189214
11,040C2US48,Texas -- In metropolitan statistical area -- n...,11499712,5700449,986122,1001575

The second join is an inner join between the race and age-sex data tables, using GEOID as the shared attribute. This query identifies areas where there are Hispanic populations, as is indicated by a non-null median age for the male and female groups of this ethnicity. The results are ordered to show areas where there are older Hispanic males than Hispanic females. The rational for this is that regions with older male Hispanics than females may indicate a larger Hispanic male population. This may indicate that there are more Hispanic men without wives or children, as is common in groups of migrant workers.

- GEOID - Geographical identification code of an area
- AreaName - English names of areas corresponding with GEOIDs
- B02001_001 - Total population of an area
- B01002_001 - Average age of the total population in an area
- B01002I_002 - Average age of a Hispanic male in an area
- B01002I_003 - Average age of a Hispanic female in an area

In [48]:
%%bigquery
select r.GEOID, r.AreaName, r.B02001_001,
    a.B01002_001, a.B01002I_002, a.B01002I_003
from us_census_staging.Race as r inner join us_census_staging.AgeSex as a
on r.GEOID = a.GEOID
where a.B01002I_002 != '.' and a.B01002I_003 != '.'
order by (cast(a.B01002I_002 as numeric) - cast(a.B01002I_003 as numeric)) desc
limit 12

,GEOID,AreaName,B02001_001,B01002_001,B01002I_002,B01002I_003
0,05000US54091,"Taylor County, West Virginia",16977,43.0,71.3,4.8
1,16000US1228800,"Harbour Heights CDP, Florida",3400,56.3,70.3,18.7
2,05000US22013,"Bienville Parish, Louisiana",13977,42.3,62.1,12.3
3,16000US4080500,"Wetumka city, Oklahoma",1288,36.2,68.2,19.2
4,16000US3752660,"Pittsboro town, North Carolina",3992,42.0,60.3,12.4
5,16000US4808240,"Big Thicket Lake Estates CDP, Texas",659,33.7,63,15.4
6,16000US4036150,"Howe town, Oklahoma",916,41.8,54.1,9.5
7,05000US28023,"Clarke County, Mississippi",16362,41.3,48.8,5.9
8,16000US1336024,"Hagan city, Georgia",968,39.3,52.0,9.5
9,16000US4062000,"Ravia town, Oklahoma",452,48.7,53.2,11.5
10,16000US1230800,"Hill 'n Dale CDP, Florida",1906,28.2,60.0,18.8
11,16000US1339720,"Homer town, Georgia",1343,35,62.4,21.4

The final join is an outer join between the tables produced by the previous two queries. The join is designed to retain the areas where there are large differences in age between male and female Hispanics. More precisely, the GEOIDs of the second query, areas of age difference, will remain while only corresponding GEOIDs of the first query, areas of disparity in educational achievement, will also be retained. Other GEOIDs where there are disparities in educational achievement, but not differences in Hispanic ages, will not be included in the outer join. Only areas where there are at least some people who attain bachelors degrees in the white population will be selected. Furthermore, the results will be ordered by size of the total population in an area.

- GEOID - Geographical identification code of an area
- AreaName - English names of areas corresponding with GEOIDs
- B02001_001 - Total population of an area
- B01002_001 - Average age of the total population in an area
- B01002I_002 - Average age of a Hispanic male in an area
- B01002I_003 - Average age of a Hispanic female in an area
- C15002A_001 - Population of white people holding bachelors degrees in an area
- C15002I_002 - Population of Hispanic men holding bachelors degrees in an area
- C15002I_007 - Population of Hispanic females holding bachelors degrees in an area

In [49]:
%%bigquery
select r.GEOID, r.AreaName, r.B02001_001,
    a.B01002_001, edu.C15002A_001,
    a.B01002I_002, edu.C15002I_002,
    a.B01002I_003, edu.C15002I_007
from us_census_staging.Race as r
  inner join us_census_staging.AgeSex as a on r.GEOID = a.GEOID
  left outer join us_census_staging.Education as edu on r.GEOID = edu.GEOID
where edu.C15002A_001 is not null
order by r.B02001_001 desc
limit 12

,GEOID,AreaName,B02001_001,B01002_001,C15002A_001,B01002I_002,C15002I_002,B01002I_003,C15002I_007
0,04000US48,Texas,26538614,34.1,12810352,27.2,2749976,28.4,2795745
1,040A0US48,Texas -- In metropolitan or micropolitan stati...,25132539,33.7,11979785,27.1,2635395,28.4,2699347
2,040C0US48,Texas -- In metropolitan statistical area,23510680,33.6,11091049,27.1,2464887,28.4,2538581
3,04001US48,Texas -- Urban,22547056,33,10382132,27,2474326,28.3,2553954
4,04000US12,Florida,19645772,41.4,10984459,33.1,1448084,36.1,1554595
5,040A0US12,Florida -- In metropolitan or micropolitan sta...,19298267,41.4,10787378,33.1,1438445,36.1,1550538
6,040C0US12,Florida -- In metropolitan statistical area,18941821,41.4,10578041,33.2,1412821,36.2,1531731
7,04001US12,Florida -- Urban,17942468,41.1,9913079,33.2,1393211,36.2,1511778
8,040C2US12,Florida -- In metropolitan statistical area --...,13737337,42.2,7871864,33.2,1062978,36.4,1165827
9,040C1US48,Texas -- In metropolitan statistical area -- i...,12010968,32.4,5390600,27.4,1478765,28.9,1537006
10,040C2US48,Texas -- In metropolitan statistical area -- n...,11499712,35,5700449,26.4,986122,27.6,1001575
11,04000US13,Georgia,10006693,35.9,4132490,26.2,255102,25.5,217485